{
  "presets": ["next/babel"],
  "plugins": [
    [
      "inline-react-svg",
      {
        "svgo": {
          "plugins": [
            {
              "name": "removeAttrs",
              "params": {
                "attrs": "(data-name)"
              }
            },
            "cleanupIDs"
          ]
        }
      }
    ],
    [
      "module-resolver",
      {
          "root": ["."],
          "alias": {
              "@public": "./public",
              "@components": "./src/components"
          }
      }
  ]
  ]
}
